<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="../styles/detail.css" />

		<title>Hello, world!</title>
	</head>
	<body>
		<div>
			<nav
				class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow"
			>
				<div class="container-fluid">
					<a class="navbar-brand text-uppercas fw-bold" href="#"
						><span class="bg-dark text-white p-1">Foot</span
						><span class="bg-white text-black p-1">Shop</span></a
					>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Shop</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/templates/login.html">Page</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#product">Product</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#blog">Blog</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Cart</a>
							</li>
						</ul>

						<div class="d-flex gap-3 justify-content-center align-items-center">
							<form class="d-flex gap-3">
								<input
									class="form-control me-2"
									type="search"
									placeholder="Search"
									aria-label="Search"
								/>
								<button class="btn btn-outline-dark" type="submit">
									Search
								</button>
								<a class="btn btn-dark" href="/templates/login.html">
									Login
								</a>
							</form>
						</div>
					</div>
				</div>
			</nav>
			<div class="container detail">
				<div class="row">
					<div class="col-xl-5 col-12 border image rounded-3 shadow">
						<div
							class="d-flex justify-content-center align-items-center w-100 h-100"
						>
							<img src="../images/item4.png" alt="" />
						</div>
					</div>
					<div
						class="col-xl-7 col-12 bg-body-secondary p-5 d-flex justify-content-start align-items-center"
					>
						<div>
							<div class="row">
								<p class="fw-bold title">VALLEY CHICKEN MOMO</p>
								<div class="d-flex justify-content-between align-items-center">
									<div
										class="d-flex justify-content-start align-items-center star"
									>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
									</div>
									<div class="count-views">
										5.0 out of (1256) <span>Reviews</span>
									</div>
								</div>
								<p class="price fw-bold">Rs. 100</p>
								<p class="title-select">
									Select Size (Pkt)
								</p>
								<div class="size fw-bold">
									<p class="active">1</p>
									<p>2</p>
									<p>5</p>
									<p>10</p>
									<p>20</p>
								</div>
								<p class="description">
									Chicken momo is a type of dumpling native to Tibet,
									traditionally found in Nepal, Bhutan, Sikkim, Assam, and
									Darjeeling. It is similar to Chinese baozi and jiaozi,
									Mongolian buuz, Japanese gyoza, and Korean mandu. The dish is
									widely associated with Nepal and the Nepalese cuisine.
								</p>
								<div class="row gap-2">
									<button class="btn btn-dark py-2 col-lg-7 col-12">
										Add to Cart
									</button>
									<a
										href="../index.html"
										class="btn btn-outline-dark py-2 col-lg-4 col-12"
									>
										Tiếp tục mua sắm <i class="bi bi-caret-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Optional JavaScript; choose one of the two! -->

		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>

		<!-- Option 2: Separate Popper and Bootstrap JS -->
		<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
		/>
	</body>
</html>
