<!DOCTYPE html>
<html lang="vi">
	<head>
		<!-- Các thẻ meta cần thiết -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="../styles/detail.css" />

		<title>Chi tiết sản phẩm</title>
	</head>
	<body>
		<div>
			<div class="w-100 detail">
				<div class="row mx-auto">
					<div class="col-xl-5 col-12 border image rounded-3 shadow">
						<div
							class="d-flex justify-content-center align-items-center w-100 h-100"
						>
							<img src="../images/item4.png" alt="" />
						</div>
					</div>
					<div
						class="col-xl-7 col-12 bg-body-secondary p-5 d-flex justify-content-start align-items-center"
					>
						<div>
							<div class="row">
								<p class="fw-bold title">Sữa yến mạch barista</p>
								<div
									class="d-flex justify-content-between align-items-center flex-wrap"
								>
									<div
										class="d-flex justify-content-start align-items-center star"
									>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
									</div>
									<div class="count-views">
										5.0 trên (1256) <span>Đánh giá</span>
									</div>
								</div>
								<p class="price fw-bold">Rs. 100</p>
								<p class="title-select">
									Chọn số lượng:
								</p>
								<div class="size fw-bold">
									<p class="active">1</p>
									<p>2</p>
									<p>5</p>
									<p>10</p>
									<p>20</p>
								</div>
								<p class="description">
									Sữa yến mạch barista là một loại đồ uống phổ biến trong thực
									đơn của các quán cà phê hiện đại và quán ăn văn phòng. Được
									làm từ sữa yến mạch, đôi khi được pha trộn với đường hoặc siro
									để tạo hương vị ngọt, sữa yến mạch barista thường được đánh
									bọt tạo thành một lớp kem sánh mịn trên mặt của đồ uống. Với
									sự phổ biến ngày càng tăng, sữa yến mạch barista thường được
									sử dụng như một lựa chọn thay thế cho sữa động vật trong nhiều
									đồ uống, nhất là trong cà phê, cappuccino, và latte.
								</p>
								<div class="row gap-2">
									<button class="btn btn-dark py-2 col-lg-7 col-12">
										Thêm vào giỏ hàng
									</button>
									<a
										href="./list.html"
										class="btn btn-outline-dark py-2 col-lg-4 col-12"
									>
										Tiếp tục mua sắm <i class="bi bi-caret-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
		/>
	</body>
</html>
